<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="qbMaster">
            <h2><span>Qb Master</span> {{ qbMaster.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Qb File</span></dt>
                <dd>
                    <div *ngIf="qbMaster.qbFile">
                        <a (click)="openFile(qbMaster.qbFileContentType, qbMaster.qbFile)">open</a>
                        {{ qbMaster.qbFileContentType }}, {{ byteSize(qbMaster.qbFile) }}
                    </div>
                </dd>
                <dt><span>College Master</span></dt>
                <dd>
                    <span>{{ qbMaster.collegeMaster }}</span>
                </dd>
                <dt><span>Department Master</span></dt>
                <dd>
                    <span>{{ qbMaster.departmentMaster }}</span>
                </dd>
                <dt><span>Course Master</span></dt>
                <dd>
                    <span>{{ qbMaster.courseMaster }}</span>
                </dd>
                <dt><span>Category Master</span></dt>
                <dd>
                    <span>{{ qbMaster.categoryMaster }}</span>
                </dd>
                <dt><span>Sub Category Master</span></dt>
                <dd>
                    <span>{{ qbMaster.subCategoryMaster }}</span>
                </dd>
                <dt><span>Subject Master</span></dt>
                <dd>
                    <span>{{ qbMaster.subjectMaster }}</span>
                </dd>
                <dt><span>Sub Subject Master</span></dt>
                <dd>
                    <span>{{ qbMaster.subSubjectMaster }}</span>
                </dd>
                <dt><span>Topic Master</span></dt>
                <dd>
                    <span>{{ qbMaster.topicMaster }}</span>
                </dd>
                <dt><span>Sub Topic Master</span></dt>
                <dd>
                    <span>{{ qbMaster.subTopicMaster }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/qb-master', qbMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
