<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="departmentMaster">
            <h2><span>Department Master</span> {{ departmentMaster.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ departmentMaster.name }}</span>
                </dd>
                <dt><span>College</span></dt>
                <dd>
                    <div *ngIf="departmentMaster.collegeMaster">
                        <a [routerLink]="['/college-master', departmentMaster.collegeMaster?.id, 'view']">{{ departmentMaster.collegeMaster?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/department-master', departmentMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
