<div>
    <h2 id="page-heading">
        <span>Questions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-question-master" [routerLink]="['/question-master/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Question
            </span>
        </button>

        <!--<button id="jh-upload-entity" class="btn btn-primary float-right jh-create-entity create-question-master mr-1" [routerLink]="['/question-master/upload']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Upload Questions
            </span>
        </button>-->
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="questionMasters?.length === 0">
        <span>No Questions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="questionMasters && questionMasters.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="text"><span>Text</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="weightage"><span>Weightage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="questionTypeMaster.name"><span>Question Type Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="difficultyTypeMaster.name"><span>Difficulty Type Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subTopicMaster.name"><span>Sub Topic Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="parentQuestionMaster.text"><span>Parent Question Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let questionMaster of questionMasters ;trackBy: trackId">
                    <td><a [routerLink]="['/question-master', questionMaster.id, 'view']">{{ questionMaster.id }}</a></td>
                    <td>
                        <div [innerHTML]="questionMaster.text"></div>
                    </td>
                    <td>{{ questionMaster.weightage }}</td>
                    <td>
                        <div *ngIf="questionMaster.questionTypeMaster">
                            <a [routerLink]="['/question-type-master', questionMaster.questionTypeMaster?.id, 'view']" >{{ questionMaster.questionTypeMaster?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="questionMaster.difficultyTypeMaster">
                            <a [routerLink]="['/difficulty-type-master', questionMaster.difficultyTypeMaster?.id, 'view']" >{{ questionMaster.difficultyTypeMaster?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="questionMaster.subTopicMaster">
                            <a [routerLink]="['/sub-topic-master', questionMaster.subTopicMaster?.id, 'view']" >{{ questionMaster.subTopicMaster?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="questionMaster.parentQuestionMaster">
                            <a [routerLink]="['/question-master', questionMaster.parentQuestionMaster?.id, 'view']" >{{ questionMaster.parentQuestionMaster?.text }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/question-master', questionMaster.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/question-master', questionMaster.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(questionMaster)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="questionMasters && questionMasters.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
