<div>
    <h2 id="page-heading">
        <span>Qp Bank Upload Masters</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-qp-bank-upload-master" [routerLink]="['/qp-bank-upload-master/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Qp Bank Upload Master
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="qpBankUploadMasters?.length === 0">
        <span>No qpBankUploadMasters found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="qpBankUploadMasters && qpBankUploadMasters.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="qpBankFile"><span>Qp Bank File</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subTopicMaster.name"><span>Sub Topic Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let qpBankUploadMaster of qpBankUploadMasters ;trackBy: trackId">
                    <td><a [routerLink]="['/qp-bank-upload-master', qpBankUploadMaster.id, 'view']">{{ qpBankUploadMaster.id }}</a></td>
                    <td>
                        <a *ngIf="qpBankUploadMaster.qpBankFile" (click)="openFile(qpBankUploadMaster.qpBankFileContentType, qpBankUploadMaster.qpBankFile)">open</a>
                        <span *ngIf="qpBankUploadMaster.qpBankFile">{{ qpBankUploadMaster.qpBankFileContentType }}, {{ byteSize(qpBankUploadMaster.qpBankFile) }}</span>
                    </td>
                    <td>{{ qpBankUploadMaster.name }}</td>
                    <td>
                        <div *ngIf="qpBankUploadMaster.subTopicMaster">
                            <a [routerLink]="['/sub-topic-master', qpBankUploadMaster.subTopicMaster?.id, 'view']" >{{ qpBankUploadMaster.subTopicMaster?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/qp-bank-upload-master', qpBankUploadMaster.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/qp-bank-upload-master', qpBankUploadMaster.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(qpBankUploadMaster)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="qpBankUploadMasters && qpBankUploadMasters.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
