<div>
    <h2 id="page-heading">
        <span>Answer Masters</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-answer-master" [routerLink]="['/answer-master/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Answer Master
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="answerMasters?.length === 0">
        <span>No answerMasters found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="answerMasters && answerMasters.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="text"><span>Text</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="correct"><span>Correct</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="questionMaster.text"><span>Question Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let answerMaster of answerMasters ;trackBy: trackId">
                    <td><a [routerLink]="['/answer-master', answerMaster.id, 'view']">{{ answerMaster.id }}</a></td>
                    <td>{{ answerMaster.text }}</td>
                    <td>{{ answerMaster.correct }}</td>
                    <td>
                        <div *ngIf="answerMaster.questionMaster">
                            <a [routerLink]="['/question-master', answerMaster.questionMaster?.id, 'view']" >{{ answerMaster.questionMaster?.text }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/answer-master', answerMaster.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/answer-master', answerMaster.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(answerMaster)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="answerMasters && answerMasters.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
