<div>
    <h2 id="page-heading">
        <span>Question Blue Prints</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-question-blue-print-master" [routerLink]="['/question-blue-print-master/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Question Blue Print
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="questionBluePrintMasters?.length === 0">
        <span>No Blue Prints found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="questionBluePrintMasters && questionBluePrintMasters.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span>Total Marks</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span>Total Duration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span>Part A Duration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span>Part B Duration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span>BP Details</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let questionBluePrintMaster of questionBluePrintMasters ;trackBy: trackId">
                    <td><a [routerLink]="['/question-blue-print-master', questionBluePrintMaster.id, 'view']">{{ questionBluePrintMaster.id }}</a></td>
                    <td>{{ questionBluePrintMaster.name }}</td>
                    <td>{{ questionBluePrintMaster.totalMarks }}</td>
                    <td>{{ convertToInt(questionBluePrintMaster?.partaDuration+'') + convertToInt(questionBluePrintMaster.partbDuration+'')}}</td>
                    <td>{{ questionBluePrintMaster.partaDuration }}</td>
                    <td>{{ questionBluePrintMaster.partbDuration }}</td>
                    <td>{{ questionBluePrintMaster.description }}</td>
                    <td>
                        <span *ngFor="let questionBluePrintDetail of questionBluePrintMaster?.questionBluePrintDetails" >
                            {{ questionBluePrintDetail?.questionTypeMaster?.shortName}}:
                            {{ questionBluePrintDetail?.totalQuestions  }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/question-blue-print-master', questionBluePrintMaster.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/question-blue-print-master', questionBluePrintMaster.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(questionBluePrintMaster)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="questionBluePrintMasters && questionBluePrintMasters.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
